.blogCard {
  @include flexbox(column, flex-start, stretch, 0);
  flex: 1;
  background-color: $color-grey-10;
  color: $color-grey-100;
  border-radius: 0.5em;
  text-decoration: none;
  min-width: 16em;

  .imgWrapper {
    height: 14vw;
    overflow: hidden;
    border-radius: 0.5em 0.5em 0 0;
    @media (max-width: $screen-xl) and (min-width: $screen-md) {
      height: 16vw;
    }
    @media (max-width: $screen-md) {
      height: 32vw;
    }

    img {
      object-fit: cover;
      transition: all 0.2s ease;
      height: 100%;
      width: 100%;
    }
  }

  &:hover {
    img {
      scale: 1.05;
    }
  }

  .blogCardContent {
    @include flexbox(column, null, stretch, 0.825em);
    padding: 1em;

    time {
      opacity: 0.6;
      font-size: 0.75em;
    }

    .blogCardContent__Title {
      font-weight: 700;
      font-size: 1.5em;
      line-height: 1.3;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .blogCardContent__Description {
      font-size: 0.875em;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .blogCardContent__Tags {
      @include flexbox(row, null, null, 1em);
    }

    .blogCardContent__Tag {
      color: $color-grey-10;
      background-color: $color-green-100;
      border-radius: 4em;
      font-size: 0.75em;
      padding: 0.25em 1em;
      text-decoration: none;
    }

    .blogCardContent__ReadMore {
      color: $color-primary-100;
      font-size: 0.875em;
      font-weight: 600;
      text-align: end;
      margin-top: 1em;
    }
  }
}
