.faqItem {
  @include flexbox(row, null, null, 1em);
  padding: 1em;
  cursor: pointer;
  border: 2px solid $color-primary-20;

  .faqItem__Content {
    @include flexbox(column, null, null, 0.5em);
    width: fit-content;
  }
  .faqItem__Answer {
    font-size: 0.875em;
  }
  .faqItem__Answer__hidden {
    display: none;
  }
}
