footer {
  position: relative;
  background-color: $color-grey-100;
  color: $color-grey-10;
  padding: 40px 8%;
  font-size: 14px;
  @include flexbox(column, null, null, 40px);
  overflow: hidden;
}

.footerContainer {
  @include flexbox(row, space-between, flex-start, 2em);
  row-gap: 1.5em;
  @media (max-width: $screen-lg) {
    @include flexbox(column, null, flex-start, 3em);
  }

  .aboutCompany {
    @include flexbox(column, null, flex-start, null);
    width: 24em;
    color: $color-grey-10;
    margin-inline-start: -1em;
    span {
      opacity: 0.8;
      padding-inline: 1em;
    }
  }
}

.footerColumns {
  color: $color-grey-10;
  @include flexbox(column, null, flex-start, 20px);

  .footerColumnTitle {
    font-size: 18px;
    font-weight: bold;
  }
  .footerColumnsContent {
    @include flexbox(column, null, flex-start, 1.5em);
    @media (max-width: $screen-lg) {
      @include flexbox(column, null, flex-start, 1em);
    }
    a {
      white-space: nowrap;
      color: $color-grey-10;
      opacity: 0.8;
      text-decoration: none;
      transition: all 0.2s ease;
      &:hover {
        opacity: 1;
        text-decoration: underline;
      }
    }
    .footerColumnsContentRow {
      @include flexbox(row, null, null, 1em);
      @media (max-width: $screen-lg) {
        @include flexbox(column, null, null, 0.5em);
      }
      .footerColumnsContentTitle {
        min-width: 8em;
        opacity: 0.5;
      }
      .footerColumnsContentDescription {
        opacity: 0.8;
      }
    }
  }
}

.footerBottom {
  @include flexbox(column, center, center, 1em);

  .footerBottomContent {
    @include flexbox(row, space-between, center, 1em);
    border: 1px solid $color-grey-20;
    border-radius: 0.5em;
    padding: 1em 1.5em;
    width: 100%;

    .socialLinks {
      @include flexbox(row, null, center, 16px);
      a {
        line-height: 0;
        transition: 0.2s all ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @media (max-width: $screen-sm) {
      flex-direction: column;
    }
  }
  .copyright {
    opacity: 0.6;
    font-size: 0.8em;
  }
}

.TR {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.1;
  color: $color-grey-10;
}

.BL {
  position: absolute;
  bottom: 0;
  left: 0%;
  transform: translate(-68%, 68%);
  opacity: 0.1;
  color: $color-grey-10;
}

.backTop {
  display: inherit;
  align-items: center;
  gap: 0.5em;
  z-index: 20;

  position: absolute;
  padding: 0.825em 1.25em 0.825em 0.75em;
  border-radius: 0 0 0.5em 0.5em;
  background-color: $color-primary-100;
  cursor: pointer;

  top: 0;
  right: 8%;

  svg {
    rotate: -90deg;
  }
}
