@import "../../Styles/_global.scss";

.appHeader {
  @include flexbox(row, space-between, center, 24px);
  @media (max-width: $screen-xl) {
    flex-wrap: wrap;
  }
  padding: 16px 8%;
  font-size: 14px;
  // box-shadow: 0 16px 8px -8px $color-grey-10;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;

  .appLogo {
    margin-inline-start: -1em;
    order: 1;
  }

  .links {
    @include flexbox(row, inherit, center, 24px);
    order: 3;

    button {
      @media (max-width: $screen-sm) {
        padding: 12px;
        span {
          display: none;
        }
      }
    }

    a {
      white-space: nowrap;
      color: $color-grey-100;
      text-decoration: none;
      font-weight: 500;
      padding: 8px;
      box-shadow: 0 8px 0 -14px $color-primary-100;

      &:hover {
        color: $color-primary-100;
        box-shadow: 0 10px 0 -8px $color-primary-100;
        transition: all 0.2s ease;
      }
    }
  }
  .menu {
    @include flexbox(row, inherit, center, 24px);
    order: 2;
    @media (max-width: $screen-xl) {
      order: 4;
    }
  }
}

.whatsapp {
  background-color: transparent;
  color: $color-green-100 !important;
  border: 2px solid $color-green-100 !important;
  &:hover,
  &:focus {
    background-color: $color-green-20 !important;
    transition: 0.2s all ease;
    cursor: pointer;
  }
}
