@import "../../Styles/_global.scss";

.appHeader {
  @include flexbox(row, space-between, center, clamp(1em, 2vw, 1.5em));
  @media (max-width: $screen-xl) {
    flex-wrap: wrap;
  }
  @media (max-width: $screen-md) {
    padding: 0.5em 4%;
    .appLogo img {
      margin-inline-start: 0.5em;
    }
  }
  padding: 1em 8%;
  box-shadow: 0 18px 10px -16px #0000000d;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;

  .appLogo {
    margin-inline-start: -1em;
    order: 1;
    line-height: 0;
    img {
      width: 8em;
    }
  }

  .links {
    @include flexbox(row, null, center, clamp(1em, 2vw, 1.5em));
    order: 3;

    button {
      @media (max-width: $screen-sm) {
        padding: 0.5em;
        span {
          display: none;
        }
      }
    }

    a {
      white-space: nowrap;
      color: $color-grey-100;
      text-decoration: none;
      font-weight: 500;
      font-size: 0.875em;
      padding: 0.5em;
      box-shadow: 0 8px 0 -14px $color-primary-100;

      &:hover {
        color: $color-primary-100;
        box-shadow: 0 10px 0 -8px $color-primary-100;
        transition: all 0.2s ease;
      }
    }
  }
  .menu {
    order: 2;

    @media (max-width: $screen-xl) {
      order: 4;
      overflow: auto;
    }
  }
}

.whatsapp {
  background-color: transparent;
  color: $color-green-100 !important;
  border: 2px solid $color-green-100 !important;
  &:hover,
  &:focus {
    background-color: $color-green-20 !important;
    transition: 0.2s all ease;
    cursor: pointer;
  }
}
