// Grey
$color-grey-100: #0e0f11;
$color-grey-40: #d4d4d4;
$color-grey-20: #f5f6f899;
$color-grey-10: #fafafa;
$color-grey-00: white;

// Primary
$color-primary-100: #004fa3;
$color-primary-80: #0065d1;
$color-primary-70: #2382e7;
$color-primary-60: #519cec;
$color-primary-20: #c9e0f7;
$color-primary-15: #e7f5ff;
$color-primary-10: #f1f7fd;
$color-primary-05: #f6f9fe;

// Green
$color-green-100: #009665;
$color-green-20: #c6ffec;
