.Home {
  padding-block-start: 2.5em;
  @include flexbox(column, null, stretch, clamp(3em, 2vw, 5em));
  color: $color-grey-100;
}

.notBanner {
  padding-inline: 8%;
  @media (max-width: $screen-md) {
    padding-inline: 4%;
  }
}

.hero {
  @include flexbox(row, space-between, center, 1.5em);
  @media (max-width: $screen-xl) {
    flex-direction: column;
  }

  .heroTextArea {
    @include flexbox(column, center, stretch, 1em);

    .heroText {
      @include flexbox(column, center, flex-start, 1em);

      span {
        font-size: clamp(1em, 2vw, 1.3em);
      }
    }

    img {
      width: 16em;
    }

    .scrollDown {
      @include flexbox(row, center, center, 1em);
      font-weight: 600;
      max-width: 30em;
      svg {
        height: 14px;
        width: 14px;
        rotate: 90deg;
      }
    }
  }
  .homepageBannerImg {
    width: 40%;
    @media (max-width: $screen-xl) {
      width: 100%;
    }
  }
  .trustpilotMini {
    margin-inline: -1em;
  }
}

.trustedBy {
  @include flexbox(row, space-around, center, 1.5em);
  @media (max-width: $screen-xl) {
    flex-direction: column;
    align-items: flex-start;
  }
  position: relative;
  padding: 3.5em;
  background-color: $color-primary-10;

  span {
    font-weight: 700;
    font-size: 1.5rem;
  }

  .rideSharingCompanies {
    @include flexbox(row, flex-end, center, 2.5em);
    @media (max-width: $screen-xl) {
      justify-content: flex-start;
    }
    @media (max-width: $screen-xl) {
      flex-wrap: wrap;
    }
  }
}

.BLL {
  position: absolute;
  top: 0;
  right: 0;
  rotate: 180deg;
  opacity: 0.1;
  color: $color-primary-100;
  line-height: 0;
}

.ourBenefits {
  @include flexbox(column, center, center, 1.5em);
  .ourBenefitsRow {
    @include flexbox(row, space-between, flex-start, 1.5em);
    @media (max-width: $screen-md) {
      flex-direction: column;
    }

    .benefit {
      @include flexbox(row, center, flex-start, 1em);
      flex: 1;
      padding: 1em;

      .benefitText {
        @include flexbox(column, center, flex-start, 0.5em);
        width: fit-content;
        padding-block-start: clamp(0em, 1.5vw, 1em);

        .benefitTitle {
          font-size: clamp(1.4em, 2vw, 1.5em);
          font-weight: 700;
          line-height: 1.3;
        }
        .benefitDescription {
          font-weight: 400;
          @media (max-width: $screen-md) {
            font-size: clamp(0.875em, 2vw, 1em);
          }
        }
      }

      svg {
        height: clamp(40px, 4vw, 64px);
        width: auto;
      }
    }
  }
}

.requirements {
  @include flexbox(column, center, center, 1.5em);

  .requirementsRow {
    @include flexbox(row, center, stretch, 1.5em);
    width: 100%;
    @media (max-width: $screen-lg) {
      flex-direction: column;
    }
    .requirementCard {
      @include flexbox(column, flex-start, flex-start, 2em);
      background-color: $color-primary-10;
      padding: 3em;
      flex: 1;
      border-radius: 1em;
      position: relative;

      .requirementCardText {
        .requirementCardTitle {
          font-size: 1.5em;
          font-weight: 700;
          padding-block-end: 0.5em;
          display: block;
        }

        p {
          font-size: 0.875em;
          margin-block: 8px;
          &::before {
            content: "•";
            margin-inline: 0.5em;
          }
        }
      }
      .texture {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        opacity: 0.6;
        rotate: 180deg;
        scale: 0.5;
      }
    }
  }
}
.fullWidthCTA {
  width: 100%;
  @include flexbox(row, space-between, center, 1.5em);
  @media (max-width: $screen-md) {
    flex-direction: column;
    align-items: stretch;
  }
}

.fleet {
  @include flexbox(column, center, stretch, 1.5em);

  .sortMode {
    @include flexbox(row, flex-start, center, 1em);
    width: 100%;
    @media (max-width: $screen-md) {
      flex-direction: column;
      align-items: stretch;
    }

    .sortMode__title {
      white-space: nowrap;
      font-weight: 700;
    }

    .sortMode__items {
      @include flexbox(row, center, center, 0);
      @media (max-width: $screen-md) {
        flex-direction: column;
        align-items: stretch;
      }
      background-color: $color-primary-10;
      padding: 0.5em;
      border-radius: 1em;

      button {
        padding: 0.5em 1em;
      }
    }
  }

  .fleetRow {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
    grid-gap: 1.5em;
  }
}

.evBanner {
  @include flexbox(row, null, null, 3em);
  position: relative;
  background: linear-gradient(
    276.03deg,
    $color-primary-100 0%,
    $color-primary-60 100%
  );
  padding: 3em 8%;
  @media (max-width: $screen-xl) {
    flex-direction: column;
    align-items: stretch;
  }

  &::before {
    content: url("../../assets/icons/Electric.svg");
    position: absolute;
    top: -2em;
    left: 0;
    pointer-events: none;
    z-index: 0;
  }
  &::after {
    content: url("../../assets/icons/Pattern.svg");
    position: absolute;
    bottom: -8px;
    right: 0;
    pointer-events: none;
    z-index: 0;
    opacity: 0.4;
  }

  .evBanner__text {
    @include flexbox(column, center, stretch, 1.5em);
    z-index: 1;
    color: $color-grey-10;
    .Link {
      border-color: $color-grey-10;
      color: $color-grey-10;
      &:hover {
        background-color: $color-grey-10;
        color: $color-primary-70;
      }
      svg {
        height: 14px;
        width: 14px;
      }
    }

    span {
      @media (max-width: $screen-md) {
        font-size: clamp(0.875em, 2vw, 1em);
      }
    }
  }

  .evBanner__cards {
    @include flexbox(row, flex-start, stretch, 1.5em);
    z-index: 1;
    @media (max-width: $screen-md) {
      justify-content: flex-start;
      overflow: auto;
      padding-bottom: 1em;
    }
  }
  @media (max-width: $screen-lg) {
    .evBanner__cards::-webkit-scrollbar {
      height: 0.5em;
      background-color: $color-primary-80;
      border-radius: 1em;
    }
    .evBanner__cards::-webkit-scrollbar-thumb {
      background: $color-primary-10;
      border-radius: 100px;
    }
  }
}

.testimonials {
  @include flexbox(column, null, stretch, 1.5em);
}

.faq {
  @include flexbox(column, null, stretch, 1.5em);

  .faqList {
    outline: 1px solid $color-primary-20;
    border-radius: 0.5em;

    .faqItem:first-child {
      border-top-left-radius: 0.5em;
      border-top-right-radius: 0.5em;
    }
    .faqItem:last-child {
      border-bottom-left-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
    }
  }

  .scrollDown {
    @include flexbox(row, center, center, 1em);
    font-weight: 600;
    svg {
      height: 14px;
      width: 14px;
    }
  }
}

.blog {
  @include flexbox(column, null, stretch, 1.5em);
  padding: 3em 8%;
  background-color: $color-primary-15;

  .blogItems {
    @include flexbox(row, null, stretch, 1.5em);
    z-index: 1;
    @media (max-width: $screen-lg) {
      justify-content: flex-start;
      overflow: auto;
      padding-bottom: 1em;
    }
  }
  @media (max-width: $screen-lg) {
    .blogItems::-webkit-scrollbar {
      height: 0.5em;
      background-color: $color-primary-20;
      border-radius: 1em;
    }
    .blogItems::-webkit-scrollbar-thumb {
      background: $color-primary-100;
      border-radius: 100px;
    }
  }

  .scrollDown {
    @include flexbox(row, center, center, 1em);
    font-weight: 600;
    svg {
      height: 14px;
      width: 14px;
    }
  }

  .fullWidthCTA {
    flex-direction: row-reverse;
    width: 100%;
    @media (max-width: $screen-md) {
      align-items: stretch;
    }
  }
}
