// Base
@import "./Base/_base.scss";
@import "./Base/_typography.scss";

// Layout

// Abstract
@import "./Abstract/_colors.scss";
@import "./Abstract/_mixins.scss";
@import "./Abstract/_variables.scss";

// Components
@import "./components/_blogCard.scss";
@import "./components/_FAQCard.scss";
@import "./components/_footer.scss";
@import "./components/_header.scss";
@import "./components/_testimonialCard.scss";
@import "./components/_titleSection.scss";
@import "./components/_vehicleCard.scss";
@import "./components/_MiniTestimonialCard.scss";

// Pages
@import "./Pages/_AboutUS.scss";
@import "./Pages/_Blog.scss";
@import "./Pages/_EVFleet.scss";
@import "./Pages/_FAQ.scss";
@import "./Pages/_Fleet.scss";
@import "./Pages/_homepage.scss";
@import "./Pages/_vehiclePage.scss";
@import "./Pages/_Terms.scss";
@import "./Pages/_Privacy.scss";
@import "./Pages/_NotFound.scss";

// Themes

.primaryBtn {
  @include flexbox(row, center, center, 8px);
  background-color: $color-primary-100;
  color: $color-grey-10 !important;
  white-space: nowrap;
  padding: 1em 1.5em;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  &:hover {
    background-color: $color-primary-80;
    transition: 0.2s all ease;
    cursor: pointer;
  }
}

.secondaryBtn {
  @include flexbox(row, center, center, 8px);
  background-color: transparent;
  color: $color-primary-100;
  white-space: nowrap;
  padding: 0.85em 1.5em;
  border: 2px solid $color-primary-100;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  &:hover {
    background-color: $color-primary-15;
    transition: 0.2s all ease;
    cursor: pointer;
    mix-blend-mode: multiply;
  }
}

.ghostBtn {
  @include flexbox(row, center, center, 8px);
  background-color: transparent;
  color: $color-grey-100;
  white-space: nowrap;
  padding: 1em 1.5em;
  border: 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  &:hover {
    background-color: $color-primary-15;
    transition: 0.2s all ease;
    cursor: pointer;
  }
}
