@import "./Styles/_global.scss";

.App {
  padding-block: 40px;
  @include flexbox(column, inherit, center, 80px);
  padding-inline: 8%;
}

.notBanner {
}

.hero {
  @include flexbox(row, space-between, center, 24px);
  @media (max-width: $screen-xl) {
    flex-direction: column;
  }

  .heroTextArea {
    @include flexbox(column, center, flex-start, 40px);

    .heroText {
      @include flexbox(column, center, flex-start, 16px);

      span {
        font-size: 1.3rem;
      }
    }

    .scrollDown {
      @include flexbox(row, center, center, 16px);
      font-weight: 600;
      width: clamp(20rem, 2rem, 10rem);
      svg {
        height: 14px;
        width: 14px;
        rotate: 90deg;
      }
      @media (max-width: $screen-md) {
        align-items: stretch;
      }
    }
  }
  .homepageBannerImg {
    // transform: scale(0.9);
    width: 40%;
    @media (max-width: $screen-xl) {
      width: 100%;
    }
  }
  .trustpilotMini {
    margin-inline: -1em;
  }
}

.trustedBy {
  @include flexbox(row, space-around, inherit, 24px);
  @media (max-width: $screen-xl) {
    flex-direction: column;
    align-items: flex-start;
  }
  position: relative;
  width: 100%;
  padding-block: 3em;
  font-size: 1.5em;
  font-weight: 700;
  background-color: $color-primary-10;
  .rideSharingCompanies {
    @include flexbox(row, flex-end, center, 2.5em);
    @media (max-width: $screen-xl) {
      justify-content: flex-start;
    }
    @media (max-width: $screen-xl) {
      flex-wrap: wrap;
    }
  }
}

.BLL {
  position: absolute;
  top: 0;
  right: 0;
  rotate: 180deg;
  opacity: 0.1;
  color: $color-primary-100;
  line-height: 0;
}

.ourBenefits {
  @include flexbox(column, center, center, 1.5em);
  .ourBenefitsRow {
    @include flexbox(row, space-between, flex-start, 24px);
    @media (max-width: $screen-md) {
      flex-direction: column;
    }

    .benefit {
      @include flexbox(row, center, flex-start, 16px);
      flex: 1;
      padding: 1em;

      .benefitText {
        @include flexbox(column, center, flex-start, 16px);
        width: fit-content;
        padding-block-start: 1em;

        .benefitTitle {
          font-size: 1.7rem;
          font-weight: 700;
          line-height: 1.3;
        }
        .benefitDescription {
          font-weight: 400;
        }
      }
    }
  }
}

.requirements {
  @include flexbox(column, center, center, 1.5em);

  .requirementsRow {
    @include flexbox(row, center, stretch, 1.5em);
    width: 100%;
    @media (max-width: $screen-lg) {
      flex-direction: column;
    }
    .requirementCard {
      @include flexbox(column, flex-start, flex-start, 2em);
      background-color: $color-primary-10;
      padding: 4em;
      flex: 1;
      border-radius: 1em;
      position: relative;

      .requirementCardText {
        .requirementCardTitle {
          font-size: 1.5em;
          font-weight: 700;
          padding-block-end: 0.5em;
          display: block;
        }

        p {
          font-size: 0.875em;
          margin-block: 8px;
          &::before {
            content: "•";
            margin-inline: 0.5em;
          }
        }
      }
      .texture {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        opacity: 0.6;
        rotate: 180deg;
        scale: 0.5;
      }
    }
  }
  .requirementsCTA {
    width: 100%;
    @include flexbox(row, space-between, center, 1.5em);
    @media (max-width: $screen-md) {
      flex-direction: column;
      align-items: stretch;
    }
  }
}

.fleet {
  @include flexbox(column, center, center, 1.5em);

  .sortMode {
    @include flexbox(row, flex-start, center, 1em);
    width: 100%;
    @media (max-width: $screen-md) {
      flex-direction: column;
      align-items: stretch;
    }

    .sortMode__title {
      white-space: nowrap;
      font-weight: 700;
    }

    .sortMode__items {
      @include flexbox(row, center, center, 0);
      @media (max-width: $screen-md) {
        flex-direction: column;
        align-items: stretch;
      }
      background-color: $color-primary-10;
      padding: 0.5em;
      border-radius: 1em;

      button {
        padding: 0.5em 1em;
      }
    }
  }

  .fleetRow {
    @include flexbox(row, space-between, stretch, 1.5em);
    flex-wrap: wrap;
  }
}
