@import "./Styles/_global.scss";

.App {
  padding-block: 40px;
  @include flexbox(column, inherit, center, 40px);
}

.notBanner {
  padding-inline: 8%;
}

.hero {
  @include flexbox(row, space-between, center, 24px);
  @media (max-width: $screen-xl) {
    flex-direction: column;
  }

  .heroTextArea {
    @include flexbox(column, center, flex-start, 40px);

    .heroText {
      @include flexbox(column, center, flex-start, 16px);

      span {
        font-size: 1.3rem;
      }
    }

    .scrollDown {
      @include flexbox(row, center, center, 16px);
      font-weight: 600;
      width: clamp(20rem, 2rem, 10rem);
      svg {
        height: 14px;
        width: 14px;
        rotate: 90deg;
      }
    }
  }
  .homepageBannerImg {
    // transform: scale(0.9);
    width: 40%;
    @media (max-width: $screen-xl) {
      width: 100%;
    }
  }
  .trustpilotMini {
    margin-inline: -1em;
  }
}

.trustedBy {
  @include flexbox(row, space-between, inherit, 24px);
  @media (max-width: $screen-xl) {
    flex-direction: column;
    align-items: flex-start;
  }
  position: relative;
  width: -webkit-fill-available;
  padding-block: 64px;
  font-size: 24px;
  font-weight: 700;
  background-color: $color-primary-10;
  .rideSharingCompanies {
    @include flexbox(row, flex-end, center, 40px);
    @media (max-width: $screen-xl) {
      justify-content: flex-start;
    }
    width: 100%;
    @media (max-width: $screen-xl) {
      flex-wrap: wrap;
    }
  }
}

.BLL {
  position: absolute;
  top: 0;
  right: 0;
  rotate: 180deg;
  opacity: 0.1;
  color: $color-primary-100;
  line-height: 0;
}
